[submodule "ext/geodesic"]
	path = ext/geodesic
	url = https://github.com/zishun/geodesic_matlab
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
	tag = v2.9.1
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/libigl/eigen.git
